<div class="list">
    <div class="list-header">
        <div class="title-text">{{list.title}}</div>
        <div class="rounded">{{list.reminders.length}}</div>
    </div>
    <div class="reminder-container">
        <app-reminder *ngFor="let reminder of list.reminders" [reminder]="reminder" (deleteClicked)="onDeleteClicked($event)">
        </app-reminder>
        <button class="plus-btn" *ngIf="!isFilterList" (click)="onPlusClicked()"><img src="/assets/plus.png"/></button>
    </div>
</div>
