
#board {
  background: transparent;
  color: #000000;
  font-family: Arial;
  display: flex;
  flex-direction: row;
  width: max-content;
  height: max-content;
}

.overview {
  width: 400px;
  margin-right: 100px;
  border: 1px black solid;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  height: max-content;
}


.filter-container {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 40px auto;
}

.filter-button {
  width: max-content;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: 1px black solid;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  img {
    width: 30px;
    height: 30px;
    margin: auto 5px auto 0;
  }
}

.filter-text {
  font-family: Arial;
  font-size: 20px;
  margin: auto 0 auto 5px;
}

.filter-button:hover {
  transform: translateY(-4px);
}

.filter-counter {
  height: 27px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  padding-top: 3px;
  margin: auto 0 auto 5px;
}

.list-container {
  border: 1px black solid;
  border-radius: 10px;
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-element {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin-bottom: 20px;
}

.list-card {
  border-radius: 4px;
  border: 1px solid black;
  background-color: white;
  height: 20px;
  width: 280px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.list-card:hover {
  transform: translateY(-3px);
}

.list-card input {
  font-size: 20px;
  font-family: Arial;

}

.list-card input:hover {
  cursor: default;
}

.list-card button {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  margin: auto 10px auto 0;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
  img{
    width: 24px;
    height: 24px;
  }
}

.list-card button:hover {
  transform: translateY(-2px);
}

.delete-button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  height: 36px;
  width: 36px;
  margin: auto 5px auto 15px;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

  img{
    width: 100%;
  }
}

.delete-button:hover {
  transform: translateY(-4px);
}


.plus-btn {
  color: black;
  background-color: transparent;
  border: none;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
  width: 30px;
  img {
    width: 30px;
  }
}

.plus-btn:hover {
  transform: translateY(-4px);
}

