<div class="bb">
<div id="board">
    <div class="overview">
        <div class="filter-container">
            <div class="filter-button">
                <button><img src="/assets/today.png"/>Today<sup> 2 </sup></button>
            </div>
            <div class="filter-button">
                <button><img src="/assets/mark.png"/>Flagged <sup> 2 </sup></button>
            </div>
        </div>

        <div class="list-container">
            <div class="list-card" *ngFor="let list of board.lists"><input type="text" [(ngModel)]="list.title"/><button ><img src="/assets/editicon.svg"/></button></div>
            <button class="plus-btn"><img src="/assets/plus.png"/></button>
        </div>
    </div>

    <div *ngIf="currentList">
        <app-list [list]="this.currentList"></app-list>
    </div>

<!--    <div class="lists">-->
<!--        <ul *ngIf="board">-->
<!--            <li *ngFor="let list of board.lists">-->
<!--                <div class="list-card">-->
<!--                    <input #listTitleInput-->
<!--                    type="text"-->
<!--                    [value]="list.title"-->
<!--                    />-->

<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <button>add</button>-->
<!--    </div>-->
<!--    <div *ngIf="currentList">-->
<!--        <app-list [list]="this.currentList">-->

<!--        </app-list>-->
<!--    </div>-->


</div>
</div>