<div id="board">
    <div class="overview">
        <div class="filter-container">
            <div class="filter-button">
                <img src="/assets/today.png"/>
                <div class="filter-text">Today</div>
                <div class="filter-counter">2</div>
            </div>
            <div class="filter-button">
                <img src="/assets/mark.png"/>
                <div class="filter-text">Flagged</div>
                <div class="filter-counter">2</div>
            </div>
        </div>

        <div class="list-container">
            <div class="list-element" *ngFor="let list of board.lists; let i = index">
                <div class="list-card" (click)="onListCardClicked(list)">
                    <input id="{{'title-input'+i}}" type="text" maxlength="18" disabled="disabled" (blur)="disableInput(i)" [(ngModel)]="list.title"/>
                    <button (click)="onEditClicked(i)"><img src="/assets/edit.png"/></button>
                </div>
                <button class="delete-button" (click)="onDeleteClicked(list)"> <img src="/assets/trash.png"/></button>
            </div>
            <button class="plus-btn" (click)="onPlusClicked()"><img src="/assets/plus.png"/></button>
        </div>
    </div>

    <div *ngIf="currentList">
        <app-list [list]="this.currentList"></app-list>
    </div>

<!--    <div class="lists">-->
<!--        <ul *ngIf="board">-->
<!--            <li *ngFor="let list of board.lists">-->
<!--                <div class="list-card">-->
<!--                    <input #listTitleInput-->
<!--                    type="text"-->
<!--                    [value]="list.title"-->
<!--                    />-->

<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <button>add</button>-->
<!--    </div>-->
<!--    <div *ngIf="currentList">-->
<!--        <app-list [list]="this.currentList">-->

<!--        </app-list>-->
<!--    </div>-->


</div>